SnakeWorld/xsd/jeu.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<schema version="1.0"
		xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:jeu="http://www.univ-grenoble-alpes.fr/l3miage/jeu"
		targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/jeu"
		elementFormDefault="qualified"
>
	<element name="jeu" type="jeu:Jeu"/>
	
	<complexType name="Jeu">
		<sequence>
			<element name="snake" type="jeu:Snake"/>
			<element name="joueur" type="jeu:Joueur"/>
			<element name="cadre" type="jeu:Cadre"/>
			<element name="aliment" type="jeu:Aliment"/>
		</sequence>
	</complexType>
</schema>